<h1 style="background-color: rgba(196 229 148)">Stories by All User</h1>
<p>Public Stories by User</p>
<div class="row"  >
  {{#each stories}}
    <div class="col s12 m4">
      <div class="card" >
        <div class="card-image">
          {{!-- {{{  editIcon user ../user _id }}} --}}
        </div>
        <div class="card-content card-align">
          <h5 >{{title}}</h5>
          <p1>{{stripTags (truncate body 150)}}</p1>
          <br />
          <div class="chip">
            <img src="{{user.image}}" alt="Image not avlb" />
            <a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
          </div>
        </div>
        <div class="card-action center-align">
          <a href="/stories/{{_id}}" class="btn grey">Read More</a>
        </div>
      </div>
    </div>

  {{else}}
    <p>No Stories to display</p>
    
  {{/each}}
</div>